/* Globale Einstellungen */
/* alle Elemente auf "box-sizing: border-box" setzen */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* wichtige Margins und Paddings auf 0 setzen */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
