:root {
  --gold: #ffd700;
  --black: #000000;
  --color-primary: #333;
  --color-secondary: antiquewhite;

  /* Abstufungen von Blau */
  --element-water-lightest: #ebf8ff;
  --element-water-lighter: #d1e5fe;
  --element-water-light: #add8e6;
  --element-water: #00bfff;
  --element-water-dark: #0066cc;
  --element-water-darker: #003399;
  --element-water-darkest: #000066;

  /* Abstufungen von Rot */
  --element-fire-lightest: #ffe6e6;
  --element-fire-lighter: #ffcccc;
  --element-fire-light: #ff9999;
  --element-fire: #ff0000;
  --element-fire-dark: #cc0000;
  --element-fire-darker: #990000;
  --element-fire-darkest: #660000;

  /* Abstufungen von Gelb */
  --element-air-lightest: #ffffe6;
  --element-air-lighter: #ffffcc;
  --element-air-light: #ffff99;
  --element-air: #ffff00;
  --element-air-dark: #cccc00;
  --element-air-darker: #999900;
  --element-air-darkest: #666600;

  /* Abstufungen von Grün */
  --element-earth-lightest: #e6ffe6;
  --element-earth-lighter: #ccffcc;
  --element-earth-light: #99ff99;
  --element-earth: #00ff00;
  --element-earth-dark: #00cc00;
  --element-earth-darker: #009900;
  --element-earth-darkest: #006600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  /* overflow-y: scroll; */
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
}

@media (min-width: 768px) {
  html {
    /* font-size: 125%; */
    /* max-width: 42em; */
  }
}

/* html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
  border: 0;
} */
body {
  font-family: Verdana, sans-serif;
  /* font-size: 16px; */
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #fff;
  color: var(--color-primary);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw, 1.75rem);
}
h3 {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}
h4 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
h5 {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}
h6 {
  font-size: clamp(0.7rem, 0.8vw, 1rem);
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
}
.container {
  padding: 0 16px;
}
.panel {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0.01em 16px;
}
.block {
  display: block;
}
.content {
  margin-bottom: 3rem;
}
.primary {
  background-color: var(--color-primary);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  margin: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
/* h1 {
  font-style: normal;
  font-weight: 400;
} */
a {
  color: var(--main-color-primary);
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
}
input {
  font-size: 16px;
  padding: 10px;
}
button {
  font-size: 1.25rem;
  cursor: pointer;
  /* margin-top: 10px; */
  /* margin-bottom: 4px; */
  padding: 8px 10px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }
  .mobile {
    display: block;
    width: 100% !important;
  }
}
@media (min-width: 993px) {
  .hide-large {
    display: none !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .hide-medium {
    display: none !important;
  }
}
