---
import BaseHead from "../../components/BaseHead.astro";
import MainHeader from "../../components/MainHeader.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../../consts";
import Main from "../../components/Main.astro";
import TagCloud from "../../components/TagCloud.astro";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION_SHORT}
      image={"icons/favicon-96x96.png"}
      type={"website"}
    />
    <meta name="robots" content="noindex" />
  </head>
  <body data-pagefind-ignore>
    <MainHeader />
    <Main>
      <div class="wrapper">
        <dir class="container">
          <h1 class="center">TAGS</h1>
          <TagCloud />
        </dir>
      </div>
    </Main>
    <Footer />
  </body>
</html>
