---
import Footer from "../../components/Footer.astro";
import TagCloud from "../../components/TagCloud.astro";
import GlobalImports from "./../../components/GlobalImports.astro";
import MetaImports from "./../../components/MetaImports.astro";
import NavigationBar from "./../../components/NavigationBar.astro";
import Headline from "../../components/Headline.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <GlobalImports />
    <MetaImports
      title="Seite mit allen Tags"
      description="Hier siehst du alle Tags"
    />
    <meta name="robots" content="noindex" />
  </head>
  <body data-pagefind-ignore>
    <NavigationBar />
    <main class="content wrapper">
      <div class="wrapper">
        <dir class="container">
          <Headline>Tags</Headline>
          <TagCloud />
        </dir>
      </div>
    </main>
    <Footer />
  </body>
</html>
