---
import GlobalImports from "./../components/GlobalImports.astro";
import MetaImports from "./../components/MetaImports.astro";
import NavigationBar from "./../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../consts";
---

<!doctype html>
<html lang="de">
  <head>
    <GlobalImports />
    <MetaImports
      title={SITE_TITLE}
      description={SITE_DESCRIPTION_SHORT}
      image={"icons/favicon-96x96.png"}
      type={"website"}
    />
    <meta name="robots" content="noindex" />
  </head>
  <body data-pagefind-ignore>
    <NavigationBar />
    <div class="wrapper" id="main">
      <article>
        <h1>Seite nicht gefunden</h1>
      </article>
    </div>
    <Footer />
    <style>
      #main {
        padding-top: 10rem;
        height: calc(100vh - 10rem);
        text-align: center;
      }
    </style>
  </body>
</html>
