---
import BaseHead from "../components/BaseHead.astro";
import MainHeader from "../components/MainHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../consts";
import Main from "../components/Main.astro";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION_SHORT}
      image={"icons/favicon-96x96.png"}
      type={"website"}
    />
  </head>
  <body>
    <MainHeader />
    <Main class="">
      <article>
        <h1>Seite nicht gefunden</h1>
      </article>
    </Main>
    <Footer />
  </body>
</html>
