<template id="comment-block-template" class="comment-block">
    <span class="comment-username">NAME</span>
    <span class="comment-date">DATUM</span>
    <div>
        <span class="comment-text">Text</span>
    </div>
    <div>
        <button class="reply-btn">Antworten</button>
    </div>
</template>
