<template id="comment-input-template">
    <input type="hidden" id="protection" name="protection" />
    <input type="hidden" id="blog-post" name="blog-post" />
    <input type="hidden" id="parent-comment" name="parent-comment" />
    <label id="lbl-input-username" for="input-username"
        >Username (optional):</label
    >
    <input
        type="text"
        id="input-username"
        name="input-username"
        autocomplete="off"
        placeholder="Anonym"
    />
    <label id="lbl-input-text" for="input-text">Kommentar:</label>
    <textarea
        id="input-text"
        name="input-text"
        cols="45"
        rows="8"
        placeholder="Hier eigeben..."
        autocomplete="off"></textarea>
    <button
        id="abbrechen-btn"
        name="abbrechen-btn"
        type="button"
        class="abbrechen-btn"
    >
        Abbrechen
    </button>
    <button id="absenden-btn" name="absenden-btn" type="button" class="primary"
        >Absenden</button
    >
</template>
