<div class="sidenav">
    <div class="like-container flex column center align-center">
        <span class="aside-btn" id="like-btn">&#x1F44D;</span>
        <span id="like-counter">Lade</span>
    </div>
</div>
<style>
    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    /* The sidebar menu */
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 40px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        /* top: 0; */
        /* left: 160px; */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    .aside-btn {
        font-size: 2rem;
        cursor: pointer;
    }

    #like-counter {
        font-size: 1.5rem;
        color: var(--element-earth-darker);
        font-weight: bold;
    }
</style>
