---
const today = new Date();
---

<footer class="sticky bottom">
  <div class="footer-container">
    <span>
      &copy; {today.getFullYear()} Kramer. All rights reserved.
    </span>
  </div>
</footer>
<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
</style>
