---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <section id="title">
    <h1>
      <a href="/">{SITE_TITLE}</a>
    </h1>
  </section>
  <br />
  <section id="navigation">
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
  </section>
</header>
<style>
  @media (max-width: 601px) {
    #title h1 {
      font-size: 1.5rem;
    }
  }
  nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    color: #fdfdfd;
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
