---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Eyes from "./Eyes.astro";
---

<section id="main-header" class="primary">
  <div id="main-header-content" class="content flex">
    <header class="s12 m12 l7 xl7">
      <div>
        <h1 class="container">
          <a href="/">{SITE_TITLE}</a>
        </h1>
      </div>
    </header>
    <div class="s4 m4 l2 xl2" id="eyes">
      <div id="">
        <Eyes />
      </div>
    </div>

    <nav class="s8 m8 l3 xl3 center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
    </nav>
  </div>
</section>
<style>
  a {
    color: #fdfdfd;
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
