---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SUB_TITLE } from "../consts";
import Eyes from "./Eyes.astro";
interface Props {
  isStartPage?: boolean;
}

const { isStartPage } = Astro.props;
---

<section id="main-header" class="primary">
  <div id="main-header-content" class="flex wrapper primary">
    <div id="header-image-container" class="s2 m2 l2">
      <img src="/icons/icon.webp" alt="Logo der Webseite" />
    </div>
    <div class="s4 m3 l2s" id="title-container">
      {
        isStartPage ? (
          <h1>
            <span class="block" id="title">
              <a href="/">{SITE_TITLE}</a>
            </span>
            <span class="block" id="subtitle">
              {SUB_TITLE}
            </span>
          </h1>
        ) : (
          <>
            <span class="block" id="title">
              <a href="/">{SITE_TITLE}</a>
            </span>
            <span class="block" id="subtitle">
              {SUB_TITLE}
            </span>
          </>
        )
      }
    </div>

    <div class="s4 m2 l2" style="">
      <div id="eyes" class="">
        <Eyes />
      </div>
    </div>
    <div class="hide-small flex right center-y m5 l4">
      <nav id="navigation-links" class="container">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/tags">Tags</HeaderLink>
      </nav>
    </div>

    <div id="menu-icons" class="hide-large hide-medium s2 m2 flex right">
      <div class="container">
        <span id="menu-icon-open" class="menu-icon">&equiv;</span>
        <span id="menu-icon-close" class="menu-icon">x</span>
      </div>
    </div>
  </div>
  <nav id="navigation-links-small" class="primary hide-medium hide-large">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/tags">Tags</HeaderLink>
  </nav>
</section>

<style>
  #main-header-content {
    height: 4rem;
    max-height: 4rem;
  }
  #main-header {
    /* overflow: hidden; */
    /* Set the navbar to fixed position */
    position: sticky;
    /* Position the navbar at the top of the page */
    top: 0;
    /* Full width */
    width: 100%;
    z-index: 100;
  }
  #title-container {
    height: 100%;
  }
  #title {
    display: block;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  #subtitle {
    display: block;
    font-size: 1rem;
    font-weight: lighter;
  }
  #header-image-container {
    height: 100%;
  }
  #header-image-container > img {
    height: 100%;
  }

  #menu-icon-close {
    display: none;
  }
  .menu-icon {
    font-size: 2.5rem;
  }
  #menu-icons {
    cursor: pointer;
  }
  #navigation-links-small {
    display: none;
    overflow: hidden;
    background-color: #333;
  }
  #navigation-links-small > a {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
</style>
<script>
  function openCloseMenu() {
    var x = document.getElementById("navigation-links-small") as HTMLElement;
    if (x.style.display === "block") {
      const close = document.querySelector("#menu-icon-close") as HTMLElement;
      const open = document.querySelector("#menu-icon-open") as HTMLElement;
      close.style.display = "none";
      open.style.display = "block";
      x.style.display = "none";
    } else {
      const close = document.querySelector("#menu-icon-close") as HTMLElement;
      const open = document.querySelector("#menu-icon-open") as HTMLElement;
      close.style.display = "block";
      open.style.display = "none";
      x.style.display = "block";
    }
  }
  document.querySelector("#menu-icons")?.addEventListener("click", () => {
    openCloseMenu();
  });
</script>
<script>
  const titleContainer = document.querySelector(
    "#title-container"
  ) as HTMLElement;
  const eyes = document.querySelector("#eyes") as HTMLElement;
  eyes.style.height = titleContainer.offsetHeight + "px";
</script>
