---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Eyes from "./Eyes.astro";
---

<article class="primary" id="main-header">
  <section class="content flex" style="height:3rem">
    <header class="s12 m12 l6">
      <h1 class="container">
        <a href="/">{SITE_TITLE}</a>
      </h1>
    </header>
    <div class="s4 m5 l3" id="" style="min-height: 100%;height:100%">
      <Eyes />
    </div>
    <nav class="s8 m5 l3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
    </nav>
  </section>
</article>
<style>
  a {
    color: #fdfdfd;
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
