<main>
  <slot />
</main>
<style>
  /* Hauptinhalt */
  main {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    max-width: 980px;
    margin-bottom: 46px;
    padding-left: 10px;
    padding-right: 10px;
  }
  main {
    margin-top: 5rem;
  }

  @media (max-width: 601px) {
    main {
      margin-top: 6rem;
    }
  }
  @media screen and (max-width: 600px) {
    main {
      margin-bottom: 76px;
    }
  }
  @media screen and (max-width: 400px) {
    main {
      margin-bottom: 100px;
    }
  }
  @media only screen and (max-width: 250px) {
    main {
      margin-bottom: 124px;
    }
  }
</style>
