---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog"))
  .filter((e) => !e.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>BlogPosts</title>
  </head>
  <body data-pagefind-ignore>
    <div>
      const blogposts = [
      {
        posts.map((post) => (
          <p>
            {JSON.stringify({
              title: post.data.title,
              img: post.data.heroImage.url,
              alt: post.data.heroImage.alt,
              pubDate: post.data.pubDate,
              url: post.slug,
            })}
            ,
          </p>
        ))
      }];
    </div>
    <div>
      const size = {posts.length}
    </div>
  </body>
</html>
